@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 50em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 46em) {
    html {
      font-size: 62.5%; } }
  @media only screen and (max-width: 42em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 37em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 34em) {
    html {
      font-size: 62.5%; } }
  @media only screen and (max-width: 30em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 27em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 24em) {
    html {
      font-size: 43.75%; } }
  @media only screen and (max-width: 21em) {
    html {
      font-size: 37.5%; } }
  @media only screen and (max-width: 18em) {
    html {
      font-size: 31.25%; } }
  @media only screen and (max-width: 16em) {
    html {
      font-size: 25%; } }

body {
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
  padding: 3rem 0;
  overflow-x: hidden;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(../img/background-min.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

body {
  font-family: 'Open Sans', sans-serif; }

.heading-primary {
  text-align: center;
  font-size: 3.8rem;
  font-weight: 400;
  color: #ccc;
  letter-spacing: 3px;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.95); }
  @media only screen and (max-width: 46em) {
    .heading-primary {
      font-size: 2.7rem; } }
  @media only screen and (max-width: 34em) {
    .heading-primary {
      font-size: 3.2rem; } }
  @media only screen and (max-width: 16em) {
    .heading-primary {
      font-size: 4rem; } }

.u-margin-bottom-sm {
  margin-bottom: 2.5rem; }

.u-margin-bottom-md {
  margin-bottom: 5rem; }

.u-margin-bottom-lg {
  margin-bottom: 7.5rem; }

.u-margin-bottom-xl {
  margin-bottom: 10rem; }

.quiz {
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.95); }
  .quiz__left {
    padding: 0 .75rem;
    width: 25%;
    float: left; }
    @media only screen and (max-width: 46em) {
      .quiz__left {
        padding: 0;
        width: 100%;
        float: none; } }
  .quiz__right {
    padding: 0 .75rem;
    width: 75%;
    float: left; }
    @media only screen and (max-width: 46em) {
      .quiz__right {
        padding: 0;
        width: 100%;
        float: none; } }
  .quiz::after {
    content: '';
    clear: both;
    display: block;
    width: 0;
    height: 0;
    visibility: hidden; }
  .quiz__teams {
    list-style-type: none;
    font-size: 1.6rem;
    color: #222;
    letter-spacing: 1.2px;
    text-align: right; }
    @media only screen and (max-width: 46em) {
      .quiz__teams {
        text-align: left; } }
    @media only screen and (max-width: 34em) {
      .quiz__teams {
        font-size: 1.8rem; } }
    @media only screen and (max-width: 24em) {
      .quiz__teams {
        font-size: 2.2rem; } }
    @media only screen and (max-width: 18em) {
      .quiz__teams {
        font-size: 2.75rem; } }
  .quiz__team {
    margin: .5rem; }
    @media only screen and (max-width: 46em) {
      .quiz__team {
        margin: 0 0 1rem 0; } }
  .quiz__answers {
    list-style-type: none; }
  .quiz__answer {
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 1rem;
    padding: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    color: #ddd;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all .3s; }
    @media only screen and (max-width: 46em) {
      .quiz__answer {
        margin: 1rem 0; } }
    @media only screen and (max-width: 21em) {
      .quiz__answer {
        padding: 1rem;
        font-size: 2.1rem;
        letter-spacing: 1px; } }
    @media only screen and (max-width: 16em) {
      .quiz__answer {
        font-size: 3rem;
        letter-spacing: .5px; } }
    .quiz__answer:hover {
      background-color: rgba(0, 0, 0, 0.7); }
      @media only screen and (hover: none) {
        .quiz__answer:hover {
          background-color: rgba(0, 0, 0, 0.3); } }
  .quiz__panel {
    display: flex;
    padding: 1rem; }
    @media only screen and (max-width: 46em) {
      .quiz__panel {
        margin-top: 2rem;
        padding: 0; } }
  .quiz__restart {
    display: flex;
    align-items: center;
    padding: .5em 1em;
    margin-right: auto;
    border: 2px solid #ddd;
    border-radius: 5px;
    outline: none;
    background-color: #069;
    cursor: pointer;
    color: #ddd;
    font-size: 1.4rem;
    font-weight: 700;
    font-family: inherit;
    letter-spacing: 1px;
    transition: all .3s; }
    @media only screen and (max-width: 27em) {
      .quiz__restart {
        font-size: 1.8rem; } }
    @media only screen and (max-width: 16em) {
      .quiz__restart {
        font-size: 2.5rem;
        letter-spacing: .5px; } }
    .quiz__restart:hover {
      background-color: #00334d; }
      @media only screen and (hover: none) {
        .quiz__restart:hover {
          background-color: #069; } }
    .quiz__restart:active {
      transform: translateY(2px); }
      @media only screen and (hover: none) {
        .quiz__restart:active {
          transform: translateY(0); } }
  .quiz__restart-icon {
    height: 2rem;
    width: 2rem;
    margin-right: .5rem;
    fill: currentColor; }
  .quiz__wrong, .quiz__correct {
    display: flex;
    align-items: center;
    font-size: 2.8rem;
    font-weight: 700;
    color: #222; }
  .quiz__wrong {
    margin-right: 3rem; }
    @media only screen and (max-width: 46em) {
      .quiz__wrong {
        margin-right: 2.5rem; } }
    @media only screen and (max-width: 34em) {
      .quiz__wrong {
        margin-right: 1.5rem; } }
  .quiz__wrong-icon, .quiz__correct-icon {
    width: 4rem;
    height: 4rem; }
    @media only screen and (max-width: 21em) {
      .quiz__wrong-icon, .quiz__correct-icon {
        width: 3rem;
        height: 3rem; } }
    @media only screen and (max-width: 16em) {
      .quiz__wrong-icon, .quiz__correct-icon {
        width: 2.5rem;
        height: 2.5rem; } }
  .quiz__wrong-icon {
    fill: #f00;
    margin-right: .4rem; }
    @media only screen and (max-width: 46em) {
      .quiz__wrong-icon {
        margin-right: .1rem; } }
  .quiz__correct-icon {
    fill: #090;
    margin-right: .8rem; }
    @media only screen and (max-width: 46em) {
      .quiz__correct-icon {
        margin-right: .4rem; } }

.finished {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  transition: all .3s;
  opacity: 0;
  visibility: hidden; }
  .finished__message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    min-height: 35%;
    padding: 3.5rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    text-align: center; }
  .finished__score {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 1px; }
  .finished__rating {
    font-size: 1.8rem;
    letter-spacing: 1px; }
  .finished__again {
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 1em 2em;
    background-color: #090;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    color: #fff;
    font-weight: 700;
    font-family: inherit;
    font-size: 1.4rem;
    letter-spacing: 1.2px;
    cursor: pointer;
    transition: all .3s; }
    .finished__again:hover {
      background-color: #006600; }
      @media only screen and (hover: none) {
        .finished__again:hover {
          background-color: #090; } }

.container {
  width: 90%;
  max-width: 100rem;
  margin: 0 auto; }
