// Colors
$color-black: #000;
$color-white: #fff;

$color-grey-light-1: #ccc;
$color-grey-light-2: #ddd;

$color-grey-dark-1: #222;

$color-red: #f00;
$color-greenblue: #069;
$color-green: #090;

// Border
$border-of-box: 2px solid $color-grey-light-2;